@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white;
  }

  html.dark {
    @apply bg-gray-900;
  }

  html,
  body {
    font-family: "Roboto", sans-serif;
  }

  a,
  button {
    @apply border-[2px] border-transparent;
  }

  a:focus-visible,
  button:focus-visible {
    @apply outline-none border-cyan-500;
  }

  .newsletter form {
    @apply flex flex-col md:flex-row gap-x-4;
  }

  .newsletter input {
    @apply mb-4 md:mb-0 min-w-0 flex-auto rounded-md border-0 px-3.5 py-2 bg-white dark:bg-gray-900 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-gray-800 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-500 dark:focus:ring-cyan-500 sm:text-sm sm:leading-6;
  }

  .newsletter button {
    @apply flex-none rounded-md bg-gray-900 hover:bg-gray-600 dark:bg-white dark:hover:bg-gray-200 px-3.5 py-2.5 text-sm font-semibold text-white dark:text-gray-900 shadow-sm;
  }

  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    @apply text-gray-900 dark:text-white mb-4 pt-4 first:pt-0;
  }

  .content h1 {
    @apply text-4xl lg:text-5xl font-semibold;
  }

  .content h2 {
    @apply text-3xl lg:text-4xl font-semibold;
  }

  .content h3 {
    @apply text-2xl lg:text-3xl font-semibold;
  }

  .content h4 {
    @apply text-xl lg:text-2xl font-semibold;
  }

  .content h5 {
    @apply text-lg lg:text-xl font-semibold;
  }

  .content h6 {
    @apply text-lg font-semibold;
  }

  .content p {
    @apply leading-loose text-lg mb-8 text-gray-600 dark:text-gray-300; 
  }

  .content blockquote {
    @apply pl-4 border-l-2 border-gray-600 dark:border-gray-300;
  }
}